<!-- Create histories -->
<!-- Condition to register new -->
<% if user_signed_in?%>
  
  <div class="container">
  
    <div class="row col-xs-offset-1 col-xs-10 text-center">
      <p class="header-p ">¿Tienes una historia para contar influenciada por el rugby?
      <br>¡Sigue los pasos y comparte tu historia! </p>
      </br>

      <%= link_to 'Salir del Editor', @history %>
      
      <!--Form to register history-->
      <div class="contact-form" align="center">
        <%= render 'form', history: @history %> 
      </div>
    </div>
  </div>    
    
<% else %>
    <div class="row" align="center">
        <h4 class="header-t text-center">Primero Debes Iniciar Sesión</h4>
        <div class="container col-md-offset-3 col-md-6 col-md-offset-3">
          <div class="thumbnail thumbnail-btn">
              <%= link_to "REGISTRARSE", new_user_registration_path, :class => 'navbar-link' %>
          </div>
        </div>

        <div class="container col-md-offset-3 col-md-6 col-md-offset-3" >
          <div class="thumbnail thumbnail-btn">
            <a href="/users/sign_in">INICIAR SESIÓN</a>
          </div>
        </div>
      </div>
    <div align="center"> <%= link_to 'Volver', histories_path %> </div>
<% end %>

	<!-- Histories Board: register histories -->

