<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/events.css.scss">
    <link rel="stylesheet" href="lightbox/css/lightbox.min.css">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <style>
        @import url('https://fonts.googleapis.com/css?family=Rancho&effect=3d');
    </style>

  </head>

  <body>

    <!--CONTENIDO DEL POST -->

    <div class="container" align="center">
    	<div class="row">
    	
    	<div class="col-md-12">
    		<h1 class="header-s text-center" style="padding:100px;">Cineforo USC "El Coach"</h1>

    		<p class="header-p" align="justify">
    			Este martes 20 de marzo, participaremos activamente del cine foro-debate sobre la película llamada 'El Coach', que organiza el grupo CEAFRO de la universidad Santiago de Cali.
            </p>

            <div class="col-md-6">
            	<%= image_tag 'invitacionCineForoUSC.png'%>
            </div>

            <div class="row">
              <iframe src="https://www.google.com/maps/d/embed?mid=1lT5_MaLJu-v6893KWt-hiugh0VI" width="640" height="480"></iframe>
            	<p class="header-p" align="justify"></p>
            </div>
    	</div>    		
    	</div>
    </div>

  </body>

  </html>