<!DOCTYPE html>
<html lang="es">
  <body>
    <!-- ====================================================== --> 
    <!-- Presentación de los Eventos a realizar-->
    <!-- ====================================================== -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="subtittle-h">Abril de 2018</h2>
      </div>

      <!-- Post -->
      <div class="col-md-10 col-md-offset-1">
          <div class="item active left">
            <div class="col-md-6 col-sm-6 left-images">             
              <%= image_tag 'dr_abril_2018_1.png'%>             
            </div>
            <div class="col-md-6 col-sm-6 details-text">
              <div class="content-holder">
                <h2>Distrito Rugby - Potrero Grande</h2>
                <p class="header-p">
                <address>
                <strong>Lugar: </strong>
                Parque La Arboleda
                <br>
                <strong>Hora: </strong>
                3:00pm
                </address>
                </p>
                <a class="btn btn-imfo btn-read-more" href="/events/pretemporada2018">Más</a>
              </div>
            </div>
          </div>
      </div>        

    </div>

    <!-- Eventos anterior mes -->
    <section id="events-marzo">
		<div class="container">
      <!-- Post -->
      <div class="page-header"></div>
      <div class="col-md-12">
          <div class="item active left">
            <div class="col-md-6 col-sm-6 left-images">
             
              <%= image_tag 'dr_pretemporada_2018.png'%>
             
            </div>
            <div class="col-md-6 col-sm-6 details-text">
              <div class="content-holder">
                <h2>Pretemporada 2018</h2>
                <p class="header-p">El día sábado 13 de enero daremos inicio al año empezando con nuestras rutinas de entreno.
                <address>
                <strong>Lugar: </strong>
                Cancha de El Laguito
                
                <br>
                <strong>Hora: </strong>
                3:30pm
                </address>
                </p>
                <a class="btn btn-imfo btn-read-more" href="/events/pretemporada2018">Más</a>
              </div>
            </div>
          </div>
      </div>        

      <!-- Post -->                      
      <div class="col-md-12">
      <div class="page-header"></div>
          <div class="item active left">
            <div class="col-md-6 col-sm-6 left-images">	               
              <%= image_tag 'Torneo_2017_c.png'%>	               
            </div>

          <div class="col-md-6 col-sm-6 details-text">
            <div class="content-holder">
              <h2>Campeonato de Rugby 7's, Un Try por el Rugby Infantil</h2>
              <p class="header-p">El viernes 8 de Diciembre (día de las velitas), se realizará la segunda versión del torneo de sevens a side para mayores masculino y femenino en pro del desarrollo de los niños y niñas que practican rugby en el Distrito de Aguablanca
              <address>
                <strong>Lugar: </strong>
                Cancha de Puertas del Sol
                
                <br>
                <strong>Hora: </strong>
                8:00am - 4:00pm
              </address>
              </p>	                
            </div>
          </div>
        </div>
      </div>
      
      <!--Post -->
      <div class="col-md-12">
      <div class="page-header"></div>
          <div class="item active left">
            <div class="col-md-6 col-sm-6 left-images">
             
              <%= image_tag 'Festival_LVR_Invictus.png'%>
             
           </div>
           <div class="col-md-6 col-sm-6 details-text">
            <div class="content-holder">
              <h2>Festival de Rugby Infantil y Juvenil</h2>
              <p class="header-p">Este sábado seremos los protagonistas del festival organizado por la Liga Vallecaucana de Rugby en el proyecto Rugby para Todos
              <address>
                <strong>Lugar: </strong>
                Cancha de El Laguito / Belisario
                (Calle 72f con Carrera 26h)
                <br>
                <strong>Hora: </strong>
                2:00pm
              </address>
              </p>                  
            </div>
          </div>
        </div>            
      </div>

		</div>
	</section>

  </body>

</html>
