<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/events.css.scss">
    <link rel="stylesheet" href="lightbox/css/lightbox.min.css">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <style>
        @import url('https://fonts.googleapis.com/css?family=Rancho&effect=3d');
    </style>

  </head>

  <body>
  	
  	<!-- MENU FIJO -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
        <div class="container">        
          <div class="navbar-header">          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">DistritoRugby</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>           
            </button>
          
            <a class="navbar-brand" href="/home/index.html">
              <%= image_tag "Logo_DR_White.png", :width=>70, :height=>80 %>
            </a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="navbar-brand header-menu" href="/home/index.html">Inicio</a>
              </li>
              <li>
                <a class="navbar-brand header-menu" href="/events/events.html">Eventos</a>
              </li>
              <li>
                <a class="navbar-brand header-menu" href="/blog/index.html">Blog</a>
              </li>
              <li>
                <a class="navbar-brand header-menu" href="#">Contacto</a>
              </li>
            </ul>
          </div>
          <!--<div class="navbar-header-menu">
            
          </div>-->

      </div>
    </nav>

    <!--CONTENIDO DEL POST -->

    <div class="container">
    	<div class="row">
    	
    	<div class="col-md-12">
    		<h1 class="header-s text-center" style="padding:100px;">Pretemporada 2018</h1>

    		<p class="header-p" align="justify">
    			LLego la hora de volver a la cancha! La pretemporada es el espacio destinado a la preparación física y deportiva para adaptar el organismo de manera consecuente a lo que será la temporada del año. Se busca que cada deportista tenga un proceso de re-adaptación a las rutinas de entrenamiento, por ello es importante evaluar las capacidades físicas más relevantes como la resistencia aérobica, la velocidad, fuerza, coordinación, flexibilidad, entre otras, de tal forma que cada jugador(a) adquiera el compromiso no solo consigo mismo, sino con todo el equipo para así conseguir los objetivos propuestos durante el año.
            </p>

            <div class="col-md-6 left-images">
            	<%= image_tag 'siluetas-ninos-musculos.jpg'%>
            </div>

            <div class="col-md-6 col-sm-6">
            	<p class="header-p" align="justify">En Distrito Rugby sabemos de la importancia de prepararse bien desde principio de año</p>
            </div>
    	</div>    		
    	</div>
    </div>

  </body>

  </html>