<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/events.css.scss">
    <link rel="stylesheet" href="lightbox/css/lightbox.min.css">    

    <style>
        @import url('https://fonts.googleapis.com/css?family=Rancho&effect=3d');
    </style>

</head>
-->

  <!-- Index Noticias -->
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-10" align="center">
      </br>
      <p class="header-p text-justify">Informaci칩n actualizada sobre los hechos m치s relevantes que marcan la historia del rugby. Encontrar치s noticias sobre todo el rugby colombiano y adem치s del rugby internacional.
      </p>
      </br>
    </div>
    <div class="col-md-offset-1 col-md-10 col-xs-10">
      <table class="table table-responsive">
            <thead>
              <tr>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>                
                <div class="col-md-offset-1 col-md-10 col-xs-10">
                <% @news.each do |news| %>      
                  <tr>
                    <div class="col-md-3">
                    <div class="thumbnail">
                      <img class="img-responsive">
                      
                      <div class="caption">
                        <%= link_to news.title, news %>
                      </div>
                    </div> 
                    </div>
                  </tr>
                <% end %>
                </div>     
            </tbody>
      </table>      
      <div class="text-center">
        <%= link_to 'Agregar Noticia', new_news_path %>
      </div>
    </div>
  </div>

  </div>
  </section>

<p id="notice"><%= notice %></p>
