<!DOCTYPE html>
<html>
<head>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/events.css.scss">
    <link rel="stylesheet" href="lightbox/css/lightbox.min.css">    

    <style>
        @import url('https://fonts.googleapis.com/css?family=Rancho&effect=3d');
    </style>

</head>

<body>

  <!-- MENU FIJO -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
        <div class="container">        
          <div class="navbar-header">          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">DistritoRugby</span>              
            </button>
          
            <a class="navbar-brand" href="/home/index.html">
              <%= image_tag "Logo_DR_White.png", :width=>70, :height=>80 %>
            </a>
          </div>

          <div class="navbar-header-menu">
            <a class="navbar-brand header-menu" href="/home/index.html">Inicio</a>
            <a class="navbar-brand header-menu" href="/events/events.html">Eventos</a>
            <a class="navbar-brand header-menu" href="/blog/index.html">Blog</a>
            <a class="navbar-brand header-menu" href="#">Contacto</a>
          </div>

      </div>
    </nav>


	<!-- Menu Blog -->
  <section id="index-blog">
	<div class="bg-blog">
		  <header id="header">
            <div class="container">
                <div id="mySidenav" class="sidenav-blog">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <h2 class="header-menu" style="color: #1f1f1f">Contenido</h2>
                  <a href="/news">Noticias</a>
                  <a href="/histories">Historias de Vida</a>
                  <a href="#matchs">Competencias Locales (Colombia)</a>
                  <a href="#information">Toolbox</a>

                  <!--<div class="img-thumbnail"></div>-->
                  
                </div>
                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()" class="pull-left menu-icon" style="color: black">☰</span>
            </div>
        </header>
    

    <!-- Intro -->
    <p class="header-p text-center">
      En este blog podrás encontrar la siguiente información:
    </p>

    <!-- Carousel mostrar opciones del blog -->
    <div class="col-sm-8 col-sm-offset-3">
      <div id="carouselIndexBlog" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndexBlog" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndexBlog" data-slide-to="1"></li>
          <li data-target="#carouselIndexBlog" data-slide-to="2"></li>
          <li data-target="#carouselIndexBlog" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner text-center">
          <div class="item active">
            <a class="header-h" href="/news">Noticias</a>            
          </div>

          <div class="item">
            <a class="header-h" href="/histories">Historias</a>
          </div>

          <div class="item">
            <a class="header-h" href="#">Competencias</a>
          </div>

          <div class="item">
            <a class="header-h" href="/#">Toolbox</a>
          </div>
        </div>

        <!-- Controles -->
        <a class="left carousel-control" href="#carouselIndexBlog" data-slide="prev">
            <span ><</span>
            <span class="sr-only">Anterior</span>
        </a>

        <a class="right carousel-control" href="#carouselIndexBlog" data-slide="next">
            <span >></span>
            <span class="sr-only">Siguiente</span>
        </a>

      </div>
    </div>
  </div>
  </section>

</body>
</html>